/*Azure blue 0072C6*/
/*Azure green 89C402*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black !important;
    color: white;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}


a {
    color: #89C402;
}

    a:hover {
        color: #89C402;
        text-decoration: underline;
    }

    a:visited {
        color: #89C402;
    }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.alert-danger {
    color: white;
    background-color: red;
    border-color: red;
}

.text-info {
    color: grey;
}

.well {
    background-color: #222;
}

.jumbotron {
    background-color: #1a1a1a;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/dev.png');
}

.btn {
    background-color: #89C402;
    border-color: #89C402;
    border-radius: 0;
    font-weight: normal;
    color: #1a1a1a !important;
}

    .btn:hover {
        background-color: #a5ce00;
        border-color: #a5ce00;
    }

    .btn:visited {
        background-color: #a5ce00;
        border-color: #a5ce00;
    }
    
.btn-primary {
    font-size: 2.5rem;
}

.form-control {
    width: 50%;
}