@model APM.Domain.Code
@{
    ViewData["Title"] = "Your code";
}
<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"] for @Model.EventName</h1>
        <p class="lead">This is your very own Azure trial code.</p>
        <p>It is one code per person, per event. If you attempt to claim another code for this event, we'll remind you of this one. If you have genuine reasons for needing more than one code, see your Microsoft representative.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <span class="lead">@Model.PromoCode</span>
            </div>
            <p>You can activate your code at <a href="https://www.microsoftazurepass.com/">https://www.microsoftazurepass.com</a></p>
            <p>For detailed instructions check out the guide here: <a href=" https://aka.ms/StartWithAzure">https://aka.ms/StartWithAzure</a> </p>
        </div>
    </div>
</div>